.headerTitle {
  font-size: 2rem; /* Default font size */
  text-align: center;
  padding: 10px;
  /* font-weight: bold; */
}

@media (max-width: 768px) {
  .headerTitle {
    font-size: 1.5rem; /* Smaller font size for tablets */
  }
}

@media (max-width: 480px) {
  .headerTitle {
    font-size: 1.2rem; /* Smaller font size for mobile devices */
  }
}
